<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CIS : 직원 메인</title>
    <link rel="stylesheet" href="/css/layout/base.css"/>
    <link rel="stylesheet" href="/css/main/emp_main.css"/>
</head>
<body>
    <div class="main">
        <header th:replace="~{layout/header::header}"></header>
        <nav th:replace="~{layout/nav::nav}"></nav>
        <aside>
            <div class="profile_img">
                <img src="/img/profile.png" alt="Profile">
            </div>
            <div class="profile_info">
                <div>
                    <!-- 원진호_1203 thymeleaf th:text 추가 -->
                    <span class="my_name">이름</span> / <span class="my_id" th:text="|${session.emp_name} 님|"></span>
                </div>
                <div>
                    <span class="my_dept" th:text="${session.emp_dept}"></span> / <span class="my_rank" th:text="${session.emp_rank}"></span>
                </div>
                <div>
                    <span class="my_email" th:text="|이메일 : ${session.emp_email}|"></span>
                </div>
            </div>
            <div class="profile_btn">
                <a href="email"><img src="/img/mail.png" alt="Email"></a>
                <a href="attendance"><img src="/img/time.png" alt="Attendance"></a>
                <a href="tasks"><img src="/img/page.png" alt="Personal_Task"></a>
            </div>
        </aside>
        <section>
            <div class="list_one">
                <a href="board_fr"><span class="list_label">자유게시판</span></a>
                <div class="list_container">
<!--                     게시판 목록(최신) 3개-->
                    <table>
                        <thead>
                            <tr id="board_empty" th:if="${boardvolist == null or #lists.isEmpty(boardvolist.list)}">
                                <td class="empty" colspan="2">게시글이 존재하지 않습니다.</td>
                            </tr>
                        </thead>
                        <tbody id="board_list" th:if="${boardvolist != null and !#lists.isEmpty(boardvolist.list)}">
                            <tr th:each="frlist: ${boardvolist.list}">

                                <td class="td_one"><a th:href="@{/fr_preview/{board_num}(board_num=${frlist.board_num})}" th:text="${frlist.board_title}"></a></td>
                                <td th:text="${frlist.create_at}" class="td_two"></td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="list_one">
                <a href="board_gj"><span class="list_label">공지사항</span></a>
                <div class="list_container">
                    <!-- 게시판 목록(공지사항) 3개 -->
                    <table>
                        <thead>
                            <tr id="notice_empty" th:if="${boardvolistg == null or #lists.isEmpty(boardvolistg.list)}">
                                <td class="empty" colspan="2">공지사항이 존재하지 않습니다.</td>
                            </tr>
                        </thead>
                        <tbody id="notice_list" th:if="${boardvolistg != null and !#lists.isEmpty(boardvolistg.list)}">
                            <tr th:each="glist: ${boardvolistg.list}">
                                <td class="td_one"><a th:href="@{/gj_preview/{board_num}(board_num=${glist.board_num})}" class="td_link" th:text="${glist.board_title}"></a></td>
                                <td class="td_two" th:text="${glist.create_at}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="list_one">
                <a href="attendance"><span class="list_label">근태관리</span></a>
                <div class="list_container">
                    <!-- 근태관리 목록 3개 -->
                    <table>
                        <thead>
                            <tr id="attendance_empty">
                                <td class="empty" colspan="2" th:if="${#lists.isEmpty(attendance_list)}">근무기록이 존재하지 않습니다.</td>
                            </tr>
                        </thead>
                        <tbody id="attendance_list">
                            <tr th:each="attendance : ${attendance_list}">
                                <!-- 날짜 -->
                                <td class="td_one" th:text="${attendance.work_date}"></td>
                                <!-- 특이사항, null값이면 '-'로 표기 -->
                                <td class="td_two" th:if="${#strings.isEmpty(attendance.significant)}">-</td>
                                <td class="td_two" th:unless="${#strings.isEmpty(attendance.significant)}" th:text="${attendance.significant}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="list_one">
                <a href="tasks"><span class="list_label">개인업무</span></a>
                <div class="list_container">
                    <!-- 개인업무 목록 3개 -->
                    <table>
                        <thead>
                        <tr id="personal_task_empty">
                            <td class="empty" colspan="2" th:if="${#lists.isEmpty(MainTasks)}">개인업무가 존재하지 않습니다.</td>
                        </tr>
                        </thead>
                        <tbody id="personal_task_list">
                        <tr th:each="Task: ${MainTasks}">
                            <td class="td_one" th:href="@{/tasks/detail/{task_num}(task_num=${Task.task_num})}" th:text="${Task.task_title}"></td>
                            <td class="td_two" th:text="${Task.task_status}" ></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        <footer th:replace="~{layout/footer::footer}"></footer>
    </div>
    <!-- <script src="/js/main/emp_main.js"></script> -->
</body>
</html>