<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cis.personal_task.repository.PersonalTaskRepository">

    <!-- 업무 삽입 -->
    <insert id="insertTask" parameterType="com.cis.personal_task.dto.PersonalTaskDTO">
        INSERT INTO personal_task (task_title, task_content, task_status, create_at, directive_id, receive_id)
        VALUES (#{task_title}, #{task_content}, #{task_status}, #{create_at}, #{directive_id}, #{receive_id});
    </insert>

    <!-- ID 유효성 검사 -->
    <select id="existsReceiveId" resultType="int" parameterType="String">
        SELECT COUNT(*)
        FROM employee
        WHERE emp_id = #{receiveId}
    </select>

    <!-- 업무 상세 정보 가져오기 -->
    <select id="findTaskByTaskNum" parameterType="int" resultType="com.cis.personal_task.dto.PersonalTaskDTO">
        SELECT * FROM personal_task
        WHERE task_num = #{taskNum}
    </select>

    <update id="updateTaskStatusToComplete" parameterType="int">
        UPDATE personal_task
        SET task_status = '완료'
        WHERE task_num = #{taskNum}
    </update>

    <!--최신 날짜 기준으로 받은 업무 가져오기-->
    <select id="getReceivedTasks" parameterType="string" resultType="com.cis.personal_task.dto.PersonalTaskDTO">
        SELECT *
        FROM personal_task
        WHERE receive_id = #{receive_id}
        ORDER BY create_at DESC;
    </select>

    <!--최신 날짜 기준으로 받은 업무 메인에 가져오기-->
    <select id="getMainTasks" parameterType="string" resultType="com.cis.personal_task.dto.PersonalTaskDTO">
        SELECT *
        FROM personal_task
        WHERE receive_id = #{receive_id}
        ORDER BY create_at DESC
            limit 0,3
    </select>

    <!--모든 업무 가져오기 (메인)-->
    <select id="findAllTasks" resultType="com.cis.personal_task.dto.PersonalTaskDTO">
        SELECT task_num , task_title , directive_id , create_at , task_status
        FROM personal_task
        ORDER BY create_at DESC
    </select>

    <!--상태별 업무 가져오기 (메인)-->
    <select id="findTasksByStatus" resultType="com.cis.personal_task.dto.PersonalTaskDTO">
        SELECT task_num , task_title , directive_id , create_at , task_status
        FROM personal_task
        WHERE task_status = #{task_status}
        ORDER BY create_at DESC
    </select>

    <!-- 업무 상태에 따라 페이징된 업무 목록 조회 -->
    <select id="selectTasksByStatus" resultType="com.cis.personal_task.dto.PersonalTaskDTO">
        SELECT task_num, task_title, task_status, create_at
        FROM personal_task
        WHERE task_status = #{status}
        ORDER BY create_at DESC
            LIMIT #{limit} OFFSET #{offset}
    </select>

    <!-- 업무 상태 변경 (진행 -> 완료) -->
    <update id="updateTaskStatus" parameterType="int">
        UPDATE personal_task
        SET task_status = '완료'
        WHERE task_num = #{task_num} AND task_status = '진행';
    </update>

    <!-- 전체 업무 상태 조회 (전체보기용) -->
    <select id="selectAllTasks" resultType="com.cis.personal_task.dto.PersonalTaskDTO">
        SELECT task_num, task_title, task_status, create_at
        FROM personal_task
        ORDER BY create_at DESC
            LIMIT #{limit} OFFSET #{offset}
    </select>
</mapper>
