<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CIS : 근태관리</title>
    <link rel="stylesheet" href="/css/layout/base.css"/>
    <link rel="stylesheet" href="/css/attendance/attendance.css"/>
</head>
<body>
    <div class="main">
        <header th:replace="~{layout/header::header}"></header>
        <nav th:replace="~{layout/nav::nav}"></nav>
        <section>
            <div class="attendance_container">
                <div class="attendance_insert_container">
                    <div id="commute_container" class="commute_container">
                        <input type="button" value="출근" class="work_start">
                        <input type="button" value="퇴근" class="work_end">
                    </div>
                    <div class="significant_container">
                        <label for="significant" class="significant_label">사유 선택</label>
                    </div>
                    <div class="significant_container">
                        <select name="significant" id="significant" class="significant_select">
                            <option value="조퇴">조퇴</option>
                            <option value="반차">반차</option>
                            <option value="외출">외출</option>
                            <option value="출장">출장</option>
                        </select>
                        <input type="button" value="퇴근" class="significant_btn">
                    </div>
                </div>
                <div class="attendance_list">
                    <table class="attendance_table">
                        <thead>
                            <tr>
                                <td style="width: 20%;">날짜</td>
                                <td>출근시간</td>
                                <td>퇴근시간</td>
                                <td>총 근무시간</td>
                                <td>특이사항</td>
                                <td>지각여부</td>
                            </tr>
                            <tr id="attendance_empty">
                                <td colspan="6">근무기록이 존재하지 않습니다.</td>
                            </tr>
                        </thead>
                        <tbody id="attendance_list">
                            <tr th:each="attendance : ${attendance_list}">
                                <td th:text="${attendance.work_date}"></td>
                                <td th:text="${attendance.work_start.substring(0, 5)}"></td>
                                <td th:if="${#strings.isEmpty(attendance.work_end)}">-</td>
                                <td th:unless="${#strings.isEmpty(attendance.work_end)}" th:text="${attendance.work_end.substring(0, 5)}"></td>
                                <td th:if="${#strings.isEmpty(attendance.work_total)}">-</td>
                                <td th:unless="${#strings.isEmpty(attendance.work_total)}" th:text="${attendance.work_total} + '분'"></td>
                                <td th:if="${#strings.isEmpty(attendance.significant)}">-</td>
                                <td th:unless="${#strings.isEmpty(attendance.significant)}" th:text="${attendance.significant}"></td>
                                <td th:text="${attendance.late_check}"></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr class="paging">
                                <td colspan="6">
                                    <a th:href="@{attendance(page=1)}" style="font-weight: bold;"><div>처음</div></a>
                                    <a th:href="@{attendance(page=${pagination.prevBlock})}" style="font-weight: bold;"><div>이전</div></a>
                                    <th:block th:with="start=${pagination.startPage}, end=${pagination.endPage}">
                                        <a th:each="pageButton : ${#numbers.sequence(start, end)}" th:href="@{attendance(page=${pageButton})}">
                                            <div th:if="${pagination.selectPage == pageButton}" th:text="${pageButton}" style="background-color: #9AADEE; color: #FFFFFF; font-weight: bold;"></div>
                                            <div th:unless="${pagination.selectPage == pageButton}" th:text="${pageButton}"></div>
                                        </a>
                                    </th:block>
                                    <a th:href="@{attendance(page=${pagination.nextBlock})}" style="font-weight: bold;"><div>다음</div></a>
                                    <a th:href="@{attendance(page=${pagination.totalPageCnt})}" style="font-weight: bold;"><div>끝</div></a>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </section>
        <footer th:replace="~{layout/footer::footer}"></footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="/js/attendance/attendance.js"></script>
</body>
</html>