<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/member_css/employee_login.css">
</head>

<body>
<div class="container">
    <!-- 일반사원 로그인 -->
    <form action="employee_login_action" method="post">
        <div id="loginBase2">
            <div class="back_btn2">
                <button id="backBtn" onclick="location.href='/main_login'"><i class="fa-solid fa-arrow-left"></i></button>
            </div>
            <div class="content_set2">
                <!-- 아이디 -->
                <div>
                        <span class="text_label2">
                            <label for="emp_id" >아이디</label><br/>
                        </span>
                    <span class="text_input2">
                            <input type="text" name="emp_id" id="emp_id" required><br/>
                        </span>
                </div>

                <!-- 비밀번호 -->
                <div>
                        <span class="text_label2">
                            <label for="emp_pass">비밀번호</label><br/>
                        </span>
                    <span class="text_input2">
                            <input type="password" name="emp_pass" id="emp_pass" required><br/>
                        </span>
                </div>
            </div>
            <div id="new_employee_btn">
                    <span>
                        <input type="button" onclick="location.href='/join'" value="사원가입" id="eloginBtn" required>
                    </span>
            </div>
            <div class="check_join2" id="check_join2">
                <input type="submit" value="로그인" id="employee_login_btn">
            </div>
        </div>
    </form>
</div>
</body>
<script>
    document.getElementById('check_join2').addEventListener("click",()=>{
        // "아이디"입력창에 입력한 내용을 저장할 변수.
        let input_id = document.getElementById('emp_id').value;

        // "비밀번호"입력창에 입력한 내용을 저장할 변수.
        let input_pass = document.getElementById('emp_pass').value;
    })
</script>
</html>