<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>개인 업무 상세화면</title>
    <link rel="stylesheet" href="/css/layout/base.css">
    <link rel="stylesheet" href="/css/personal_task_css/task_detail.css">
</head>
<body>
<div class="main">
    <header th:replace="~{layout/header::header}"></header>
    <nav th:replace="~{layout/nav::nav}"></nav>
    <section>
        <div class="task_container">
            <div class="task_content_top">
                <div class="task_title">
                    <span>제목</span>
                    <!-- 업무 제목 표시 (읽기 전용) -->
                    <input type="text" th:value="${task.task_title}" readonly>
                </div>
                <div class="task_people">
                    <div class="task_directive">
                        <span>발신인</span>
                        <!-- 발신인 (읽기 전용) -->
                        <input type="text" th:value="${task.directive_id}" readonly>
                    </div>
                    <div class="task_receive">
                        <span>수신인</span>
                        <!-- 수신인 (읽기 전용) -->
                        <input type="text" th:value="${task.receive_id}" readonly>
                    </div>
                </div>
            </div>
            <div class="task_content_middle">
                <textarea class="task_content" th:text="${task.task_content}" readonly></textarea>
            </div>
            <div class="task_content_bottom">
                <div id="task_files" class="task_files">
                    <!-- 첨부파일이 있는 경우 파일 리스트 출력 -->
                    <th:block th:each="file : ${task.files}">
                        <a th:href="@{/files/{fileName}(fileName=${file.file_name})}" th:text="${file.original_file_name}"></a>
                    </th:block>
                </div>
            </div>
        </div>
    </section>
    <footer th:replace="~{layout/footer::footer}"></footer>
</div> <!-- container div 닫기 -->
<script src="/js/personal_task/task_detail.js"></script>
</body>
</html>
